:root {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #646464;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.bg-light {
  background-color: #f7f9fb !important;
}

.btn, .button {
  position: relative;
  transition: all .3s ease;

  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 1.3rem;
  height: 4.5rem;
  line-height: 4.1rem;
  letter-spacing: 0;
  padding: 0 2rem;
  border: 0.2rem solid;
  border-radius: 0.2rem;
  text-transform: uppercase;

}
.btn-rounded {
  border-radius: 50px !important;
}

.btn-primary, #place_order {
  background-color: #323232;
  border-color: #323232;
  color: #fff;

  & i {
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 32%;;
    right: 2.2rem;
  }
  &:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    padding-left: 2rem;
    padding-right: 3rem;
    & i {
      opacity: 1;
      transform: translateX(1rem);
    }
  }
}

.page-header {
  padding: 8rem 0;
  margin-bottom: 4rem;
}



.header__topbar {
  background-color: #000;
  color: #fff;
  line-height: 3.2rem;

  & a {
    color: #888;
    &:hover {
      color: #fff;
    }
  }
  & ul {
    margin-bottom: 0;
  }
  & p {
    margin-bottom: 0;
    color: #888;

    & span {
      color: #eee;
    }
  }

  &-socials {
  }
}

.header__navbar {
  & .navbar-brand {
    & img {
      height: 6rem;
      width: auto;
    }
  }

  & .navbar-nav .nav-link {
    color: #474747;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 1.2rem;

    &:hover {
      color: #aae203;
    }
  }
}

#haute-hero {
  background-color: #f7f8fb;
}

.hf-featured {
  padding: 8rem 0;
  & a {
    & figure {
      position: relative;

      &::before {
        border: 1px solid rgba(255,255,255,.5);
        height: 94%;
        width: 90%;
        content: "";
        position: absolute;
        top: 3%;
        left: 5%;
        transform: scale(0);
        transition: all .3s ease;
        z-index: 1;
      }
      &::after {
        content: "";
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all .3s ease;
      }
      & figcaption {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        & h3 {
          color: #000;
          font-size: 2rem;
          background-color: #fff;
          padding: 0.3rem 1rem;
        }
        & p {
          font-size: 4rem;
          color: #fff;
          margin-bottom: 0;
          line-height: 3rem;
          text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        }
        & span {
          font-size: 1.6rem;
          color: #eee;
        }
      }
    }
    &:hover {
      & figure {
        &::before {
          transform: scale(1);
        }
        &::after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.hf-arrivals {
  font-family: "Lato", sans-serif;
  &__heading {
    padding-left: 5.5rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 4.4rem;
      height: 0.1rem;
      background-color: #000;
      position: absolute;
      top: 2.2rem;
      left: 0;
    }

    & h2 {
      position: relative;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      color: #000;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: none;
      font-size: 4.4rem;
      line-height: 4.4rem;
      letter-spacing: 0;
    }

    & small {
      font-family: "Roboto Condensed";
      font-weight: 700;
      color: #c3c1c1;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.4rem;
    }

    & p {
      color: #646464;
      line-height: 2.4rem;
      font-weight: 300;
    }
  }
}

.hf-trending {
  &__heading {
    text-align: center;
    position: relative;


    & h2 {
      color: #727c85;
      position: relative;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: none;
      font-size: 4.4rem;
      line-height: 4.4rem;
      letter-spacing: 0;
      display: inline-block;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 4.4rem;
        height: 0.1rem;
        background-color: #000;
        position: absolute;
        top: 2.5rem;
        left: -10rem;
      }
      &::after {
        right: -10rem;
        left: unset;
      }
    }
    & small {
      display: block;
      font-family: "Roboto Condensed";
      font-weight: 700;
      color: #c3c1c1;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.4rem;
    }

  }

  &__nav {
    list-style: none;
    margin: 3rem 0 0 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    text-align: center;

    & li {
      display: inline-block;

      & a {
        padding: 12px 15px;
        color: #474747;
        display: block;
        font-size: 1.6rem;

        &.active {
          color: #aae203;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 0.1rem;
            background-color: #aae203;
            position: absolute;
            bottom: -0.1rem;
            left: 0;
          }
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.footer {
  &__top {
  background-color: #222;
  min-height: 30rem;
  }

  &__bottom {
    background-color: #000;
    color: #fff;
    line-height: 6rem;

    & a {
      color: #fff;
    }
  }
}


.woocommerce-cart {
   & .woocommerce {
     &>form {
       border: 1px solid #f1f1f1;
       padding: 3rem;
     }
     & .cart-collaterals {
       &>.cart_totals {
        width: 100%;
       }
     }
   }
  & .shop_table {
    & thead {
      color: #212529;
      & th {
        border-top: 0;
        text-transform: uppercase;

        padding: 15px 0;
        vertical-align: middle;
        border-bottom: 1px solid #e1e1e1 !important;
      }
    }

    & .product-thumbnail {
      width: 15%;
      padding-right: 20px;
    }
  }
}

.woocommerce-cart .cart-collaterals .cart_totals {
  & h2 {
    text-transform: uppercase;
  }
  & table {
    padding: 0;
    background-color: #f2f2f2;
    border-radius: 0;
  }
}

.woocommerce-cart table,
.woocommerce-cart th,
.woocommerce-cart td,
.woocommerce-cart .actions {
  border: 0 !important;
  margin: 0 !important;
}

.heading-color {
  color: #323232;
}

// #add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 100%;
}

.woocommerce table.shop_table {
  border: 0px solid rgba(0,0,0,.1);
  border-radius: 0;
  font-size: 1.6rem;

  & th, td {
    padding: 1rem 0;
  }

  & th.product-name {
    text-transform: uppercase;
  }

  & .cart_item {
    & th, td {
      font-size: 1.3rem;
      color: #666;
    }
  }

  & th:last-child, td:last-child {
    text-align: right;
  }


}

.woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.input-text {
  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-radius: 2px;
  padding: 0 10px;
}


.woocommerce-checkout #order_comments {
    min-height: 100px;
    padding: 10px;
    line-height: normal;
}

.woocommerce-checkout {
  & h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  & #payment {
    background: transparent;
    border-radius: 0;

    & ul.payment_methods, .place-order {
      padding: 0 !important;
    }

    & div.payment_box {
      background-color: #f9f9f9;

      &::before {
        border-bottom-color: #f9f9f9;
      }
    }


    & .wc-stripe-elements-field, .stripe-card-group {
      width: 100%;
    }
  }

}
